body {
  margin: 0 auto;
  width: 90%;
  max-width: 600px;
  height: 100vh;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a, button {
  color: blue;
}

header {
  margin-top: 1em;
}

main {
  margin: 1em 0;
  min-height: 0; /* Firefox fix??? https://stackoverflow.com/questions/34144972/flexbox-avoid-child-with-longer-height-than-parent-column-direction */
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

input {
  width: 100%;
  font-size: 2em;
}

button {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  transition: color 1s ease;
}

button:hover {
  color: blueviolet;
}

section {
  overflow-x: scroll;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
}

section div {
  margin-right: 5em;
}

footer {
  margin-bottom: 1em;
  font-size: 0.8em;
}
